
.accordion {
    width: 100%;
    text-align: left;
    border: none;
    background: rgb(212, 212, 212);
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}

.accordion.active {
    background: rgb(212, 235, 178);
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
}